[project]
	description = Python functions and scripts for genomics
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bruno Grande (brunogrande)
[access "refs/for/refs/*"]
	read = group user/Bruno Grande (brunogrande)
	push = group user/Bruno Grande (brunogrande)
	label-Code-Review = -2..+2 group user/Bruno Grande (brunogrande)
	label-Verified = -1..+1 group user/Bruno Grande (brunogrande)
	rebase = group user/Bruno Grande (brunogrande)
	removeReviewer = group user/Bruno Grande (brunogrande)
	submit = group user/Bruno Grande (brunogrande)
[access "refs/heads/*"]
	read = group user/Bruno Grande (brunogrande)
	create = group user/Bruno Grande (brunogrande)
	push = +force group user/Bruno Grande (brunogrande)
	pushMerge = group user/Bruno Grande (brunogrande)
[access "refs/tags/*"]
	push = +force group user/Bruno Grande (brunogrande)
	pushTag = group user/Bruno Grande (brunogrande)
	pushSignedTag = group user/Bruno Grande (brunogrande)
